<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storm-dft</title>
    <link rel="icon" type="image/x-icon" href="/storm-dft/src/assets/images/dgb-logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/storm-dft/index.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
    <script src="https://kit.fontawesome.com/8790af84bd.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/storm-dft/script.js "></script>
</head>
    <div id="nav-placeholder"></div>
    <div class="content" style="height: 60px;">
      <nav  class="navbar navbar-light bg-light navbar-expand-sm sticky " style="background-color:white; ">
        <div class="container mt-5" >
          <ul class="navbar-nav " >
            <li class="nav-item ml-auto"><a
                href="#academicLicence"
                class="nav-link">Academic</a></li>
            <li class="nav-item ml-auto"><a
                href="#commercialLicence"
                class="nav-link">Commercial</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <section>
      <div class="container-fluid">
        <div class="row">
          <div style="padding-right:150px; margin-top:0px;" class="col-sm-8">
            <h1>Jumpstart research with DGB Academy</h1><br>
              <div class="text-left" style="text-align: justify;">
                DGB  Technologies  understand  that  DFTStorm  tool  includes:  first.jar,  storm,  etc.  and  they  are  supplied  "as  is",
                without  expressed  or  implied warranty. 
                We agree on the following where DGB Technologies is the “Licenser” and (academic) user is the “Licensee”: <br><br>

                a) DGB do not have any obligation to provide any maintenance or consulting help with respect to Storm model-checker.<br>
                b) DGB neither have any responsibility for the correctness of systems verified using DFTStorm, nor for the correctness of DFTStorm itself.<br>
                c) DGB will never distribute or modify any part of the Storm model-checker source code (and binaries) without a written permission of Dr.
                Joost-Pieter Katoen (RWTH Aachen University, Germany).<br>
                d) The User will make only academic use of DFTStorm. The User understand that academic work means work performed by researchers or 
                students at institutions delivering academic degrees. In addition, the work or the worker may not be contracted by any non-academic 
                institution. Any use at companies, private use, use at national research agencies, or any other non-academic use requires a license of 
                DFTStorm from DGB.<br>
                e) The User will not use/modify the source code (and binaries) of DFTStorm nor any part of it for any commercial software product.<br>
                f) In case of violation, DGB has the right to cancel license immediately.<br><br>
                
                In case new versions of DFTStorm tool are released, they will also fall under all of the above terms.

      
              </div>
              <!-- <a href="https://www.dgbtek.com/Academy.html" target="blank">Read more</a> -->
          </div>
    
          <div class="col-sm-4" style="margin-top: 100px;">
            <img src="/storm-dft/src/assets/images/licence.png" alt="research-student" width="90%"
              style="border-radius: 8px;">
          </div>
        </div>
      </div>
    
    </section>
    
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="display-4 text-center" id="academicLicence"><h1>Free Academic Licences</h1></div><br>
          <div class="display-6 text-center mb-5">Explore content for transforming research and teaching</div>
            
          <div style="padding-right:20px; margin-top:0px;" class="col-sm-6">

            <div class="mb-1">
              <span>
              <img src="/storm-dft/src/assets/images/green-check.png" alt="research-student" width="4%">
              </span>
              Must only be used for non-commercial educational purposes. <br>
            </div>
            <div>
              <span>
                <img src="/storm-dft/src/assets/images/green-check.png" alt="research-student" width="4%">
              </span>
              May be renewed free of charge as long as you are a student or a teacher. <br>
            </div>

          </div>

          <div class="col-sm-6">

            <div class="mb-1">
              <span>
                <img src="/storm-dft/src/assets/images/red-cross.png" alt="research-student" width="3%">
              </span>
              Must only be used for non-commercial educational purposes. <br>
            </div>
            <div>
              <span>
                <img src="/storm-dft/src/assets/images/red-cross.png" alt="research-student" width="3%">
              </span>
              May be renewed free of charge as long as you are a student or a teacher. <br>  
            </div>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="mt-5" style="width: 100%; height:350px; background-color: #f3f3f3;"> 
        <div class="display-4 text-center pt-4"><h1> Options to get a free academic license </h1></div> 
        <div class="container-fluid">
          <div class="row">

            <div class="col-sm-4 text-center">
              <div>
                <i class="fa-solid fa-building-columns fa-8x"></i>
              </div>
              <div class="mt-3">
                Official university email address
              </div>
            </div>
            <div class="col-sm-4 text-center">
              <div>              
                <i class="fa-solid fa-graduation-cap fa-8x"></i>
              </div>
              <div class="mt-3">
                Student’s/teacher’s offcial document
              </div>
            </div>
            <div class="col-sm-4 text-center">
              <div>
                <i class="fa-solid fa-id-card fa-8x"></i>
              </div>
              <div class="mt-3">
                Student’s/teacher’s ID
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="mt-5">
      <div class="container-fluid">

        <div class="display-4 text-center"><h1>Academic Licence Form</h1></div><br>

        <form class="col-md-10 m-auto">
          <div class="mb-3">
            <label for="licenceInputName" class="form-label">Name</label><span style="color: red !important; display: inline; float: none;">*</span>
            <input type="text" class="form-control" id="licenceInputName" aria-describedby="nameHelp" required>
          </div>
          <div class="mb-3">
            <label for="licenceInputEmail" class="form-label">Email</label><span style="color: red !important; display: inline; float: none;">*</span>
            <input type="email" class="form-control" id="licenceInputEmail" required>
          </div>
          <div class="mb-3">
            <label for="inputTitle" class="form-label">Job Title</label><span style="color: red !important; display: inline; float: none;">*</span>
            <input type="text" class="form-control" id="licenceInputTitle" required>
          </div>
          <div class="mb-3">
            <label for="licenceInputTitle" class="form-label">University</label><span style="color: red !important; display: inline; float: none;">*</span>
            <input type="text" class="form-control" id="licenceInputTitle" required>
          </div>
          <div class="mb-3">
            <label for="licenceInputAddress" class="form-label">Address</label><span style="color: red !important; display: inline; float: none;">*</span>
            <input type="text" class="form-control" id="licenceInputAddress" required>
          </div>
          
          <div class="row">
            <div class="mb-3 col-sm-6">
              <label for="licenceInputTitle" class="form-label">City</label>
              <input type="text" class="form-control" id="licenceInputTitle">
            </div>
            <div class="mb-3 col-sm-6">
              <label for="licenceInputTitle" class="form-label">State</label>
              <input type="text" class="form-control" id="licenceInputTitle">
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-sm-6">
              <label for="licenceInputPostalCode" class="form-label">PostalCode</label>
              <input type="text" class="form-control" id="licenceInputPostalCode">
            </div>
            <div class="mb-3 col-sm-6">
              <label for="country">Country</label>      
        
              <select id="country" name="country" class="form-control mt-2">
                  <option value="Afghanistan">Afghanistan</option>
                  <option value="Åland Islands">Åland Islands</option>
                  <option value="Albania">Albania</option>
                  <option value="Algeria">Algeria</option>
                  <option value="American Samoa">American Samoa</option>
                  <option value="Andorra">Andorra</option>
                  <option value="Angola">Angola</option>
                  <option value="Anguilla">Anguilla</option>
                  <option value="Antarctica">Antarctica</option>
                  <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Aruba">Aruba</option>
                  <option value="Australia">Australia</option>
                  <option value="Austria">Austria</option>
                  <option value="Azerbaijan">Azerbaijan</option>
                  <option value="Bahamas">Bahamas</option>
                  <option value="Bahrain">Bahrain</option>
                  <option value="Bangladesh">Bangladesh</option>
                  <option value="Barbados">Barbados</option>
                  <option value="Belarus">Belarus</option>
                  <option value="Belgium">Belgium</option>
                  <option value="Belize">Belize</option>
                  <option value="Benin">Benin</option>
                  <option value="Bermuda">Bermuda</option>
                  <option value="Bhutan">Bhutan</option>
                  <option value="Bolivia">Bolivia</option>
                  <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                  <option value="Botswana">Botswana</option>
                  <option value="Bouvet Island">Bouvet Island</option>
                  <option value="Brazil">Brazil</option>
                  <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                  <option value="Brunei Darussalam">Brunei Darussalam</option>
                  <option value="Bulgaria">Bulgaria</option>
                  <option value="Burkina Faso">Burkina Faso</option>
                  <option value="Burundi">Burundi</option>
                  <option value="Cambodia">Cambodia</option>
                  <option value="Cameroon">Cameroon</option>
                  <option value="Canada">Canada</option>
                  <option value="Cape Verde">Cape Verde</option>
                  <option value="Cayman Islands">Cayman Islands</option>
                  <option value="Central African Republic">Central African Republic</option>
                  <option value="Chad">Chad</option>
                  <option value="Chile">Chile</option>
                  <option value="China">China</option>
                  <option value="Christmas Island">Christmas Island</option>
                  <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Comoros">Comoros</option>
                  <option value="Congo">Congo</option>
                  <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                  <option value="Cook Islands">Cook Islands</option>
                  <option value="Costa Rica">Costa Rica</option>
                  <option value="Cote D'ivoire">Cote D'ivoire</option>
                  <option value="Croatia">Croatia</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Cyprus">Cyprus</option>
                  <option value="Czech Republic">Czech Republic</option>
                  <option value="Denmark">Denmark</option>
                  <option value="Djibouti">Djibouti</option>
                  <option value="Dominica">Dominica</option>
                  <option value="Dominican Republic">Dominican Republic</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="Egypt">Egypt</option>
                  <option value="El Salvador">El Salvador</option>
                  <option value="Equatorial Guinea">Equatorial Guinea</option>
                  <option value="Eritrea">Eritrea</option>
                  <option value="Estonia">Estonia</option>
                  <option value="Ethiopia">Ethiopia</option>
                  <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                  <option value="Faroe Islands">Faroe Islands</option>
                  <option value="Fiji">Fiji</option>
                  <option value="Finland">Finland</option>
                  <option value="France">France</option>
                  <option value="French Guiana">French Guiana</option>
                  <option value="French Polynesia">French Polynesia</option>
                  <option value="French Southern Territories">French Southern Territories</option>
                  <option value="Gabon">Gabon</option>
                  <option value="Gambia">Gambia</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Germany">Germany</option>
                  <option value="Ghana">Ghana</option>
                  <option value="Gibraltar">Gibraltar</option>
                  <option value="Greece">Greece</option>
                  <option value="Greenland">Greenland</option>
                  <option value="Grenada">Grenada</option>
                  <option value="Guadeloupe">Guadeloupe</option>
                  <option value="Guam">Guam</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Guernsey">Guernsey</option>
                  <option value="Guinea">Guinea</option>
                  <option value="Guinea-bissau">Guinea-bissau</option>
                  <option value="Guyana">Guyana</option>
                  <option value="Haiti">Haiti</option>
                  <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                  <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                  <option value="Honduras">Honduras</option>
                  <option value="Hong Kong">Hong Kong</option>
                  <option value="Hungary">Hungary</option>
                  <option value="Iceland">Iceland</option>
                  <option value="India">India</option>
                  <option value="Indonesia">Indonesia</option>
                  <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                  <option value="Iraq">Iraq</option>
                  <option value="Ireland">Ireland</option>
                  <option value="Isle of Man">Isle of Man</option>
                  <option value="Israel">Israel</option>
                  <option value="Italy">Italy</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Japan">Japan</option>
                  <option value="Jersey">Jersey</option>
                  <option value="Jordan">Jordan</option>
                  <option value="Kazakhstan">Kazakhstan</option>
                  <option value="Kenya">Kenya</option>
                  <option value="Kiribati">Kiribati</option>
                  <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                  <option value="Korea, Republic of">Korea, Republic of</option>
                  <option value="Kuwait">Kuwait</option>
                  <option value="Kyrgyzstan">Kyrgyzstan</option>
                  <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                  <option value="Latvia">Latvia</option>
                  <option value="Lebanon">Lebanon</option>
                  <option value="Lesotho">Lesotho</option>
                  <option value="Liberia">Liberia</option>
                  <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                  <option value="Liechtenstein">Liechtenstein</option>
                  <option value="Lithuania">Lithuania</option>
                  <option value="Luxembourg">Luxembourg</option>
                  <option value="Macao">Macao</option>
                  <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                  <option value="Madagascar">Madagascar</option>
                  <option value="Malawi">Malawi</option>
                  <option value="Malaysia">Malaysia</option>
                  <option value="Maldives">Maldives</option>
                  <option value="Mali">Mali</option>
                  <option value="Malta">Malta</option>
                  <option value="Marshall Islands">Marshall Islands</option>
                  <option value="Martinique">Martinique</option>
                  <option value="Mauritania">Mauritania</option>
                  <option value="Mauritius">Mauritius</option>
                  <option value="Mayotte">Mayotte</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                  <option value="Moldova, Republic of">Moldova, Republic of</option>
                  <option value="Monaco">Monaco</option>
                  <option value="Mongolia">Mongolia</option>
                  <option value="Montenegro">Montenegro</option>
                  <option value="Montserrat">Montserrat</option>
                  <option value="Morocco">Morocco</option>
                  <option value="Mozambique">Mozambique</option>
                  <option value="Myanmar">Myanmar</option>
                  <option value="Namibia">Namibia</option>
                  <option value="Nauru">Nauru</option>
                  <option value="Nepal">Nepal</option>
                  <option value="Netherlands">Netherlands</option>
                  <option value="Netherlands Antilles">Netherlands Antilles</option>
                  <option value="New Caledonia">New Caledonia</option>
                  <option value="New Zealand">New Zealand</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Niger">Niger</option>
                  <option value="Nigeria">Nigeria</option>
                  <option value="Niue">Niue</option>
                  <option value="Norfolk Island">Norfolk Island</option>
                  <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                  <option value="Norway">Norway</option>
                  <option value="Oman">Oman</option>
                  <option value="Pakistan">Pakistan</option>
                  <option value="Palau">Palau</option>
                  <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                  <option value="Panama">Panama</option>
                  <option value="Papua New Guinea">Papua New Guinea</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Peru">Peru</option>
                  <option value="Philippines">Philippines</option>
                  <option value="Pitcairn">Pitcairn</option>
                  <option value="Poland">Poland</option>
                  <option value="Portugal">Portugal</option>
                  <option value="Puerto Rico">Puerto Rico</option>
                  <option value="Qatar">Qatar</option>
                  <option value="Reunion">Reunion</option>
                  <option value="Romania">Romania</option>
                  <option value="Russian Federation">Russian Federation</option>
                  <option value="Rwanda">Rwanda</option>
                  <option value="Saint Helena">Saint Helena</option>
                  <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                  <option value="Saint Lucia">Saint Lucia</option>
                  <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                  <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                  <option value="Samoa">Samoa</option>
                  <option value="San Marino">San Marino</option>
                  <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                  <option value="Saudi Arabia">Saudi Arabia</option>
                  <option value="Senegal">Senegal</option>
                  <option value="Serbia">Serbia</option>
                  <option value="Seychelles">Seychelles</option>
                  <option value="Sierra Leone">Sierra Leone</option>
                  <option value="Singapore">Singapore</option>
                  <option value="Slovakia">Slovakia</option>
                  <option value="Slovenia">Slovenia</option>
                  <option value="Solomon Islands">Solomon Islands</option>
                  <option value="Somalia">Somalia</option>
                  <option value="South Africa">South Africa</option>
                  <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                  <option value="Spain">Spain</option>
                  <option value="Sri Lanka">Sri Lanka</option>
                  <option value="Sudan">Sudan</option>
                  <option value="Suriname">Suriname</option>
                  <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                  <option value="Swaziland">Swaziland</option>
                  <option value="Sweden">Sweden</option>
                  <option value="Switzerland">Switzerland</option>
                  <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                  <option value="Taiwan">Taiwan</option>
                  <option value="Tajikistan">Tajikistan</option>
                  <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                  <option value="Thailand">Thailand</option>
                  <option value="Timor-leste">Timor-leste</option>
                  <option value="Togo">Togo</option>
                  <option value="Tokelau">Tokelau</option>
                  <option value="Tonga">Tonga</option>
                  <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                  <option value="Tunisia">Tunisia</option>
                  <option value="Turkey">Turkey</option>
                  <option value="Turkmenistan">Turkmenistan</option>
                  <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                  <option value="Tuvalu">Tuvalu</option>
                  <option value="Uganda">Uganda</option>
                  <option value="Ukraine">Ukraine</option>
                  <option value="United Arab Emirates">United Arab Emirates</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="United States">United States</option>
                  <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                  <option value="Uruguay">Uruguay</option>
                  <option value="Uzbekistan">Uzbekistan</option>
                  <option value="Vanuatu">Vanuatu</option>
                  <option value="Venezuela">Venezuela</option>
                  <option value="Viet Nam">Viet Nam</option>
                  <option value="Virgin Islands, British">Virgin Islands, British</option>
                  <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                  <option value="Wallis and Futuna">Wallis and Futuna</option>
                  <option value="Western Sahara">Western Sahara</option>
                  <option value="Yemen">Yemen</option>
                  <option value="Zambia">Zambia</option>
                  <option value="Zimbabwe">Zimbabwe</option>
              </select>
          
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-sm-6">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
            </div>
            <div class="mb-3 col-sm-6">
              <label for="fax" class="form-label">Fax</label>
              <input type="tel" class="form-control" id="fax" name="fax">
            </div>
          </div>

        
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </section>

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="display-4 text-center" id="commercialLicence"><h1>Commercial Licence</h1></div><br>
          <div class="display-6 text-center mb-5">Explore DFT with full features and Unlimited Access</div>

        
        </div>
        
        <div class="row"  style="padding-left: 50px;">
          <div class="col-sm-6 ">
            <div class="pt-5" style="text-align: justify;">
              DGB offers free license of DFTStorm tool only for works performed by 
              researchers  or  students  at  institutions  delivering  academic  degrees. 
              Even  for  the  works  or  the  workers  that  are  contracted  by  any 
              non-academic institution, a commercial license is required. Therefore, 
              any use of DFTStorm tool at companies, private use, use at national 
              research agencies, or any other non-academic use requires a license 
              from DGB. <br>
              If you are interested in obtaining a commercial license of DFTStorm, 
              and want to know about our offers,  you  are  more  than  welcome  to 
              contact us.
            </div>
          </div>
          <div class="col-sm-6">
            <img src="/storm-dft/src/assets/images/license-commercial.png" alt="research-student" width="80%"
            style="border-radius: 8px;">
          </div>
        
        </div>
        
      </div>
    </section>

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="display-6 text-center mb-5">What Will You Get</div>


          <div style="padding-right:20px; margin-top:0px;" class="col-sm-6">

            <div class="mb-1">
              <span>
              <img src="/storm-dft/src/assets/images/green-check.png" alt="research-student" width="4%">
              </span>
              Must only be used for non-commercial educational purposes. <br>
            </div>
            <div>
              <span>
                <img src="/storm-dft/src/assets/images/green-check.png" alt="research-student" width="4%">
              </span>
              May be renewed free of charge as long as you are a student or a teacher. <br>
            </div>

          </div>

          <div class="col-sm-6">

            <div class="mb-1">
              <span>
                <img src="/storm-dft/src/assets/images/red-cross.png" alt="research-student" width="3%">
              </span>
              Must only be used for non-commercial educational purposes. <br>
            </div>
            <div>
              <span>
                <img src="/storm-dft/src/assets/images/red-cross.png" alt="research-student" width="3%">
              </span>
              May be renewed free of charge as long as you are a student or a teacher. <br>  
            </div>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="display-4 text-center mt-5"><h1>Commercial Licence Form</h1></div><br>

      <form>
        <div class="col-sm-8 m-auto">
          <div class="mb-3">
            <label for="phone" class="form-label">Name</label>
            <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
          </div>
          <div class="mb-3">
            <label for="fax" class="form-label">Email</label>
            <input type="tel" class="form-control" id="fax" name="fax">
          </div>
          
          <div class="mb-3">
            <label for="fax" class="form-label">Message</label>
            <textarea class="col-sm-12" id="w3review" name="w3review" rows="4">
            </textarea>   
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>

        </div>
        
      </form>
      
    </section>

    <div id="footerdgb"></div>
    <script>
        $(function(){
          $("#nav-placeholder").load("/storm-dft/src/commonUI/navbar.html");
        });
        $(function(){
          $("#footerdgb").load("/storm-dft/src/commonUI/footer.html");
        });
        </script> 
</body>

</html>