body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.level1-heading{
    font-size:xx-large;
    font: weight 500px;;
}

.container-fluid{
    padding-right: 8rem !important;
    padding-left: 7rem !important;
    padding-top: 4rem;
}

.display-1{
    font-weight: normal !important;
}

/* css for navigation bar */
.nav-item{
    font-weight: 400;
    color:black;
    font-size: 1rem;
}
.nav-item:hover{
    background-color: #f3f3f3;
    border-radius: 2px;
} 
.nav-link:active{
        border-bottom: 2px solid blue;
}

/* css for html-cards */
.card{
    border:0.4px solid rgb(235, 234, 234) !important;
    border-radius: 8px !important;

}
.card:hover{
    box-shadow: 0px 1px 5px rgb(231, 229, 229); 
}

.card-body{
    border: 0.4px rounded solid rgb(235, 234, 234);
}

.card img{
    object-fit: fill !important;
}
/* css for container-row */

#row:hover{
    background-color: #f3f3f3;
    border-radius: 2px;
}

/* new update notification badge*/

.notify-badge{
    position: relative;
    background: rgba(3, 118, 134, 0.6);
    height:3rem;
    top:6rem;
    left:15rem;
    width:3rem;
    padding-top: 15px;
    font-size:0.8rem;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 100%;
    color: whitesmoke;
    text-decoration: none;
    box-shadow: 5px 2px 5px #888888;;
}
.release-desc{
    font-weight:lighter;
}

/* css for dgb-education avatars */
.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

.accordion-item{
    border: 0 !important;
    border-bottom: 1px solid #efecec !important;
}

/* css for products-heading animation */
.animator{
    display: flex;
    align-items: center;
	justify-content: center;
}
.content {
    position: relative;
  }
  
  .content h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(0%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
  .content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
