<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storm-dft</title>
    <link rel="icon" type="image/x-icon"
      href="/storm-dft/src/assets/images/dgb-logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/storm-dft/index.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/storm-dft/script.js "></script>

    <!-- Bootstrap Js -->


  </head>
  <body>
    <div id="nav-placeholder"></div>
    
    <div style="height: 110px;">
      <nav  class="navbar navbar-light bg-light navbar-expand-sm d-flex " style="background-color:white; ">
        <div class="container mt-5" >
          <ul class="navbar-nav " >
          <li class="nav-item ml-auto"><a
              href="#documentationManualId"
              class="nav-link">Manual </a></li>
          <li class="nav-item ml-auto"><a
              href="#documentationPresentationId"
              class="nav-link">Presentations</a></li>
          <li class="nav-item ml-auto"><a
              href="#documentationTutorialsId"
              class="nav-link"> Tutorials</a></li>
          <li class="nav-item ml-auto"><a
              href="#documentationVideosId"
              class="nav-link"> Videos</a></li>
          <li class="nav-item ml-auto"><a
              href="#documentationLecturesId"
              class="nav-link"> Lectures</a></li>
          <li class="nav-item ml-auto"><a
              href="#documentationSupportingToolsId"
              class="nav-link"> Tools </a></li>
          <li class="nav-item ml-auto"><a
              href="#documentationPublicationsId"
              class="nav-link">Publications</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="doc-content">

      <section id="documentationManualId" class="mb-5">
        <div class="container-fluid row">
          <div class="text-dark m-auto col-sm-8">
              <p class="display-3 text-center" > <strong> Manual</strong></p>
              <p style="text-align:justify ; padding-right: 35px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla libero mauris, auctor eget tellus blandit, fermentum scelerisque ligula. Praesent orci dolor, pellentesque sed egestas eget, finibus sit amet tortor. Sed congue diam mauris. Aliquam erat volutpat. Suspendisse potenti. In sed lacinia ligula. Pellentesque auctor tellus vel justo vestibulum, ut viverra ipsum pellentesque. Nulla vehicula quam et ex eleifend, eu aliquam ante venenatis. </p>
          </div>
          <div class="text-dark m-auto col-sm-4">
              <img src="/storm-dft/src/assets/images/manual.png" class="d-flex m-auto" alt="news-span" width="80%">
          </div>
        </div>     

      </section>


      <section id="documentationTutorialsId" class="mb-5">

        <div class="jumbotron" style="background-color:white">
          <div class="container-fluid">
            <img src="/storm-dft/src/assets/images/tutorials-nobg.png" class="d-flex m-auto" alt="news-span" width="40%">
            <div class="display-5 text-center">Explore content for transforming research and teaching</div>
            <div id="carouselExampleIndicators" class="carousel-item" data-ride="carousel">
              <h1>Hi</h1>
            </div>
          </div>
        </div>

        

        
      </section>

      <section id="documentationVideosId" class="mb-5">
        <div class="container-fluid">
          <div class="row" style="background-color:#d2e3fc ; border-radius: 20px">
      
            <div class="col-sm-6">
              <div style="padding:110px" class="text-center">
                <h1>Helpful technology enables everyone to achieve their goals</h2>
                  <a href="#" type="button" class="btn btn-light btn-lg text-primary">Watch More</a>
              </div>
            </div>
            <div class="col-sm-6 mt-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9p_s457RSQE?list=PLTsf9UeqkRebOYdw4uqSN0ugRShSmHrzH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>             
            </div>
            
          </div>
        </div>
        <!-- <div class="text-dark m-auto" style="width: 75%;">
            <h2 class=" text-center">Videos</h2>
              <div class="text-center mt-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9p_s457RSQE?list=PLTsf9UeqkRebOYdw4uqSN0ugRShSmHrzH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
        </div> -->
      </section>

      <section id="documentationPresentationId" class="mb-5">

        <div class="jumbotron" style="background-color:white">
          <div class="container-fluid">
            <img src="/storm-dft/src/assets/images/Presentation.jpeg" class="d-flex m-auto" alt="news-span" width="40%">
              <div class="display-3 text-center"><strong>Presentations</strong> 
                <div class="display-5 text-center">Explore content for transforming research and teaching</div>
              </div>
          </div>
        </div>

        <!-- <div class="text-dark m-auto" style="width: 75%;">
          <div class="col-sm-12" >
            <h2 class=" text-center">Presentations</h2>
          </div>
        </div> -->
        
        <div class="container">
          <div class="row container-fluid">
    
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <iframe src="https://onedrive.live.com/embed?cid=66FD0977F109A6F7&amp;resid=66FD0977F109A6F7%213081&amp;authkey=AAxQHJ7k1ZwBUmM&amp;em=2&amp;wdAr=1.7777777777777777" width="100%" height="200px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
                  <h6 class="card-title text-center mt-1">DFT is Real</h5>
                </div>
              </div>
            </div>
    
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <iframe src="https://onedrive.live.com/embed?cid=66FD0977F109A6F7&amp;resid=66FD0977F109A6F7%213083&amp;authkey=AEEetdhi1kSQS2g&amp;em=2&amp;wdAr=1.7777777777777777" width="100%" height="200px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
                  <h6 class="card-title text-center mt-1">DFT UseCases</h6>
                </div>
              </div>
            </div>
    
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <iframe src="https://onedrive.live.com/embed?cid=66FD0977F109A6F7&amp;resid=66FD0977F109A6F7%213081&amp;authkey=AAxQHJ7k1ZwBUmM&amp;em=2&amp;wdAr=1.7777777777777777" width="100%" height="200px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
                  <h6 class="card-title text-center">DFT UseCases</h6>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      
      </section>

      <section id="documentationLecturesId" class="mb-5">
        <div class="text-dark m-auto" style="width: 75%;">
          <div class="col-sm-12" >
            <p class="display-3 text-center"><strong> Lectures</strong></p>
              <div class="accordion" id="productsAccordion">

                <div class="accordion-item">
                  <h2 class="accordion-header" id="allProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapseOne"><b>Lectures</b></button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body"> 
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="">A computer program for maximum likelihood estimation of relatedness and relationship<span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span> </a></li>
                        <li class="list-group-item"><a href="">A computer program for maximum likelihood estimation of relatedness and relationship</a></li>
                        <li class="list-group-item"><a href="">A computer program for maximum likelihood estimation of relatedness and relationship</a></li>
                        <li class="list-group-item"><a href="">A computer program for maximum likelihood estimation of relatedness and relationship</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>

      <section id="documentationSupportingToolsId" class="mb-5">
        <div class="text-dark m-auto" style="width: 75%;">
          <div class="col-sm-12" >
            <p class="display-3 text-center mb-5"><strong> Supporting Tools</strong></p>
            <div  class="row mb-5 text-center">
              <div class="col-sm-4">
                <a href="https://github.com/storm-dft/dft-ui/discussions">
                  <div class="justify-content-center">
                    <div class="m-auto py-3">
                      <img src="/storm-dft/src/assets/images/markov-automata.png"
                        alt="research-student" class="avatar">
                    </div>
                    <div class="card-body">
                      <h6 class="card-title text-center " style="color: #000 ;">Markov Automata</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-4">
                <a href="https://github.com/storm-dft/dft-ui/issues">
                  <div class="text-center">
                    <div class="m-auto py-3">
                      <img src="/storm-dft/src/assets/images/link-analysis.png"
                        alt="research-student" class="avatar">
                    </div>
                    <div class="card-body">
                      <h6 class="card-title text-center" style="color: #000 ;">Link Analysis</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-4">
                <a href="https://github.com/storm-dft/dft-ui/issues">
                <div class="text-center">
                  <div class="m-auto py-3">
                    <img src="/storm-dft/src/assets/images/LaTeX_logo.svg.png"
                      alt="research-student" class="mt-5" width="80%" height="50%">
                  </div>
                  <div class="card-body">
                    <h6 class="card-title text-center mt-4" style="color: #000 ;">Latex</h6>
                  </div>
                </div>
              </a>
              </div>
    
         </div>
        </div>
      </section>

      <section id="documentationPublicationsId" class="mt-2 mb-5">

        <div class="jumbotron" style="background-color:white">
          <div class="container-fluid">
            <!-- <img src="/storm-dft/src/assets/images/Presentation.jpeg" class="d-flex m-auto" alt="news-span" width="40%"> -->
            <div class="display-3 text-center"><strong>Publications</strong> 
              <div class="display-5 text-center">Explore content for transforming research and teaching</div>
            </div>
         </div>
        </div>
        <div class="container-fluid">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="">A computer program for maximum likelihood estimation of relatedness and relationship<span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span> </a></li>
            <li class="list-group-item"><a href="">A computer program for maximum likelihood estimation of relatedness and relationship</a></li>
            <li class="list-group-item"><a href="">A computer program for maximum likelihood estimation of relatedness and relationship</a></li>
            <li class="list-group-item"><a href="">A computer program for maximum likelihood estimation of relatedness and relationship</a></li>
          </ul>
        </div>
      
      </section>

    </div>



    <div id="footerdgb"></div>
    <script>
        $(function(){
          $("#nav-placeholder").load("/storm-dft/src/commonUI/navbar.html");
        });
        $(function(){
          $("#footerdgb").load("/storm-dft/src/commonUI/footer.html");
        });
    </script>
  </body>

</html>






