<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storm-dft</title>
    <link rel="icon" type="image/x-icon"
      href="/storm-dft/src/assets/images/dgb-logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
      href="/storm-dft/src/components/support/dft-support.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/storm-dft/script.js "></script>
  </head>

  <body>
    <div id="nav-placeholder"></div>
    <div class="content">
      <nav class="navbar navbar-light bg-light navbar-expand-sm "
        id="local-nav">
        <div class="container mt-3">
          <ul class="navbar-nav ">
            <li class="nav-item justify-content-center"><a
                href="#"
                class="nav-link">Issues & Suggestions</a></li>
            <li class="nav-item justify-content-center"><a
                href="#faq"
                class="nav-link">FAQ </a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 id="issues" class="text-center"> <img
                src="/storm-dft/src/assets/images/forum.png" alt=" "
                height="50px" />  Forums </h1><br>
            <p class="text-center mb-5">Please use the following links to report
              issues & suggestions, discuss ideas and watch video demos</p>
          </div>
        </div>
        <div  class="row justify-content-center mb-5">
          <div class="col-sm-3">
            <a href="https://github.com/storm-dft/dft-ui/discussions">
              <div class="card">
                <div class="m-auto py-3">
                  <img src="/storm-dft/src/assets/images/discussion.jpg"
                    alt="research-student" class="avatar">
                </div>
                <div class="card-body">
                  <h6 class="card-title text-center " style="color: #000 ;">Discussions</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="https://github.com/storm-dft/dft-ui/issues">
              <div class="card">
                <div class="m-auto py-3">
                  <img src="/storm-dft/src/assets/images/issues.jpg"
                    alt="research-student" class="avatar">
                </div>
                <div class="card-body">
                  <h6 class="card-title text-center" style="color: #000 ;">Issues & Suggestions</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="m-auto py-3">
                <img src="/storm-dft/src/assets/images/youtube.png"
                  alt="research-student" class="avatar">
              </div>
              <div class="card-body">
                <h6 class="card-title text-center">Youtube</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <hr>
          <h4 class=" p-5 text-center"> For any Questions, Please feel free to
            contact us at
            <a href="mailto:support.dft@dgbtek.com">support.dft@dgbtek.com</a></h4>
          <hr>
        </div>
        <div class="row mt-5 pt-5">
          <div class="col-sm-12">
            <h1 id="faq" class="text-center">FAQ (Frequently Asked Question)</h1><br>
          </div>
        </div>
      </div>
 

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="accordion" id="productsAccordion">

              <div class="accordion-item">
                <h2 class="accordion-header" id="allProducts">
                  <button type="button" class="accordion-button collapsed"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne">Question
                    no 1:</button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse"
                  data-bs-parent="#productsAccordion">
                  <div class="card-body">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Facilis sed unde magnam ipsam recusandae rerum praesentium
                      ducimus quos dignissimos velit laboriosam, ex similique
                      voluptates nesciunt accusamus explicabo ratione
                      distinctio. Ratione?<a
                        href="https://www.tutorialrepublic.com/html-tutorial/"
                        target="_blank">Learn more.</a></p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="businessProducts">
                  <button type="button" class="accordion-button collapsed"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo">Question
                    no 2:</button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse"
                  data-bs-parent="#productsAccordion">
                  <div class="card-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Soluta odit libero eum, cum molestiae necessitatibus omnis
                      aut, tenetur deleniti voluptatibus culpa, nobis assumenda
                      repudiandae ad animi? Quisquam voluptatem modi alias?
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="developerProducts">
                  <button type="button" class="accordion-button collapsed"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree">Question
                    no 3:</button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse"
                  data-bs-parent="#productsAccordion">
                  <div class="card-body">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Tenetur sed id labore voluptates. Eaque nesciunt
                      consectetur voluptate vero, voluptatem molestias beatae
                      rerum libero qui unde est repellendus corrupti! Maxime,
                      eligendi.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="footerdgb"></div>
    <script>
        $(function(){
          $("#nav-placeholder").load("/storm-dft/src/commonUI/navbar.html");
        });
        $(function(){
          $("#footerdgb").load("/storm-dft/src/commonUI/footer.html");
        });
        </script>
  </body>

</html>
