<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storm-dft</title>
    <link rel="icon" type="image/x-icon" href="/storm-dft/src/assets/images/dgb-logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/storm-dft/src/components/team/dft-team.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/storm-dft/script.js "></script>
</head>
<body class="parallax">
    <div id="nav-placeholder"></div>

    <div class="container-fluid">

      <div class="row py-3 my-4 text-dark">
        <div class="col-sm-12" >
          <h2 class=" text-center"><i class="px-2 fa fa-users" aria-hidden="true"></i>Team</h3>
          </div>
      </div>

        <div class="row text-dark mb-4">
          <div class="col-sm-12" >
            <h3 class=" text-center">Scientific Advisory Board</h3>
         </div>
        </div>
  
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/storm-dft/src/assets/images/ms-huco.jpg">
            </div>
            <div class="team-content">
              <h5 class="name">Prof. Mariëlle Stoelinga</h5>
              <p class="title">Formal Methods and Tools group at the University of Twente, Enschede and (part-time) Department of Software Science at Radboud University, Nijmegen. 
              </p>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/storm-dft/src/assets/images/prof-katoen.jpg">
            </div>
            <div class="team-content">
              <h5 class="name">Prof. Joost-Pieter Katoen</h5>
              <p class="title">Software Modelling and Verification group, RWTH Aachen University, Aachen, Germany and (part-time) Formal Methods and Tools group at the University of Twente, Enschede. 
              </p>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/storm-dft/src/assets/images/matthias-volk.jpg">
            </div>
            <div class="team-content" >
              <h5 class="name">Dr. Matthias Volk.</h5>
              <p class="title">Methods and Tools group at the University of Twente, Enschede. 
              </p>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <!--  -->
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
         </div>
          
      </div>

      <div class="row text-dark my-4">
        <div class="col-sm-12" >
          <h3 class="text-center">Leadership</h3>
       </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/storm-dft/src/assets/images/dr-falak.png">
            </div>
            <div class="team-content">
              <h5 class="name">Dr. Falak Sher</h5>
              <p class="title">Software Modelling and Verification group, RWTH Aachen University. Formal Methods Group at DGB Technologies</p>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/storm-dft/src/assets/images/ahmad.png">
            </div>
            <div class="team-content">
              <h5 class="name">Ahmad Zafar</h5>
              <p class="title"> Formal Methods Group at DGB Technologies 
              </p>

            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/storm-dft/src/assets/images/DP.png">
            </div>
            <div class="team-content">
              <h5 class="name">Muzammil Irshad</h5>
              <p class="title"> Formal Methods Group at DGB Technologies 
              </p>

            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
           
      </div>
    </div>

    <div id="footerdgb"></div>
    <script>
        $(function(){
          $("#nav-placeholder").load("/storm-dft/src/commonUI/navbar.html");
        });
        $(function(){
          $("#footerdgb").load("/storm-dft/src/commonUI/footer.html");
        });
        </script> 
</body>

</html>