<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>storm-dft</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/storm-dft/src/assets/images/dgb-logo.png"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="/storm-dft/src/components/dft_introduction/dft-introduction.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh2PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    /> -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div id="nav-placeholder"></div>
    <div class="image pt-5">
      <img
        src="/storm-dft/src/assets/images/dfts.png"
        alt=" "
        width="100%"
        height="560vh";
      />
    </div>
    <div class="container-fluid col-sm-9" style="text-align: justify">
      <div class="row">
        <p class="display-3">
          <strong> What are (Dynamic) Fualt Trees</strong>
        </p>
        <p>
          Proper risk analysis is essential to keep our power plants, trains and
          self-driving cars safe and operational. The increased constraints
          imposed by international standards together with the ever-growing
          penetration of AI components in high-tech systems make rigorous and
          powerful risk assessment more important than ever. <br />
          Various techniques have been developed throughout the years to analyse
          the safety and reliability of systems. One of the most relevant is
          Fault Tree Analysis (FTA) (Stamatelatos et al., 2002; Ruijters and
          Stoelinga, 2015). Every day, millions of engineers are using fault
          trees to model their systems and analyse the probability of failures.
          FTA is applied to many safety-critical systems and their use is
          required for instance by the Federal Aviation Authority (FAA), the
          Nuclear Regulatory Commission (NRC), in ISO 26262 for autonomous
          driving or for software development in aerospace systems (by NASA and
          ESA).<br />
          While fault trees are easy to understand and thus, widely used, their
          modelling capabilities are severely limited. This lack of flexibility
          hinders accurate and precise modelling of real-life systems. To
          overcome these drawbacks, several extensions of fault trees have been
          proposed in the last decades. Dynamic fault trees (DFT) (Dugan et al.,
          1992) are a prominent extension of fault trees overcoming these
          limitations. DFTs have been co-developed by NASA to model more complex
          behaviours and dependability patterns. As such, DFTs can capture more
          realistic scenarios needed to handle the growing complexity in, e.g.,
          self-driving cars, hyperloops and drones. <br />
          While fault tree models represent how failures occur at system
          component level and how they propagate through sub-systems, eventually
          leading to system level failures, their analysis focuses on computing
          various dependability metrics, i.e. key performance indicators that
          measure how well a system performs. Standard metrics are the system
          reliability (i.e. the probability that no failure occurred until time
          T), the availability (i.e. the average percentage of time that a
          system is operational), the mean time to failure, the mean time
          between failures, the criticality if components (i.e. to what extent
          does a component failure contribute to a system failure) etc. Various
          extensions include the cost and impact of failures <br />
        </p>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <p class="mt-4">
            <b>Example.</b> Figure 1 depicts a sample dynamic fault tree (on the
            left) modeling a laptop failure. The laptop fails if either the
            operating system (OS), the processors or the power are unavailable.
            Each of these components is further subdivided. For instance, the
            power is first provided by a plugged connection. If this connection
            fails, the laptop switches to the internal battery. The plot on the
            right depicts the unreliability (i.e. the probability that no
            failure occurred until time T) of the modelled laptop over time and
            has been automatically generated from the fault tree. <br />
          </p>
        </div>
        <div class="col-sm-3" style="padding-left: 2.6rem">
          <img
            src="/storm-dft/src/assets/images/unreliability-graph.png"
            alt="unreality graph"
            height="200px"
          />
        </div>
      </div>
      <div class="row">
        <figure>
          <img
            src="/storm-dft/src/assets/images/laptop-failure.png"
            alt="laptop-failure"
            class="my-5 col-sm-10"
            height="400px"
          />
          <figcaption class="text-center">
            <strong> Figure 1.</strong> Dynamic fault tree modeling a laptop
            failure and its reliability over time.
          </figcaption>
        </figure>
      </div>
      <p>
        <br /><span class="display-5"
          ><strong> Why do we need Dynamic Fault Trees</strong></span
        ><br /><br>
        The need for rigorous risk assessments is rapidly increasing. On the one
        hand, international standards -- require rigorous and powerful fault
        tree analysis techniques. For instance, the recent ISO 26262 standard in
        autonomous driving asserts that “metrics are verifiable and precise
        enough to differentiate between different system architectures” and that
        “[for systems where the] concept is based on redundant safety
        mechanisms, multiple-point failures of a higher order than two are
        considered in the analysis” (ISO, 2011). Classical fault-tree analysis
        techniques cannot support the compliance of products to these
        requirements. Alternative, and more powerful means are needed that allow
        flexible modelling, a rich set of metrics, and powerful techniques for
        advanced analyses such as multiple-point failures of higher degrees.<br />
        On the other hand, the rapidly increased usage of AI components in
        modern systems necessitates a rigorous risk assessment. Neural networks
        typically come with weak statistical guarantees only (if at all). Small
        perturbations of their inputs may lead to misclassifications that can be
        catastrophic in safety-critical applications: consider an AI component
        in an autonomous car that misclassifies a pedestrian who is crossing the
        street at an arbitrary place (and not at a cross-over). The use of AI
        components also implies the need for reliability metrics that go beyond
        the standard metrics of reliability and availability. In particular,
        there is a need to specify various levels of degradation (given the
        uncertainty of the AI components) and be able to analyse e.g., “what is
        the probability that the system will come to a halt without going
        through degradation level A first”.<br />
        Thus, the increased constraints imposed by international standards
        together with the ever-growing penetration of AI components make
        rigorous and powerful risk assessment more important than ever.
        <br /><br />
        <span class="display-5"
          ><strong> New Approach to DFT Analysis </strong></span
        ><br /><br />
        <b>The increased modeling power of DFTs comes at a price</b>
        DFTs are more complex to analyse. This is mainly due to the fact that
        DFTs incorporate dynamic behaviour, where also the order in which
        failures occur is important. This significantly increases the number of
        distinct behaviours which need to be analysed. Various techniques to
        analyse DFTs have been proposed before (Tang and Dugan, 2004; Montani et
        al., 2008; Rauzy, 2011), but the majority does not scale to
        industry-size fault trees, which may comprise hundreds or thousands of
        fault tree gates.
        <br />
        RWTH Aachen University Germany and Twente University the Netherlands
        have worked on a new fully automated approach to DFT analysis, namely
        via stochastic model checking. Stochastic model checking (Baier and
        Katoen, 2008) is a state-of-the-art analysis technique offering a wide
        plethora of powerful analysis techniques for stochastic systems. State
        space reduction techniques, such as symmetry reduction, bisimulation
        minimization (Baier and Katoen, 2008, Chap. 7), reduce one model to a
        smaller one that is computationally equivalent. Approximative techniques
        allow one to approximate analysis results upto arbitrary precision.<br />
        Several advanced methods (Ruijters et al., 2016; Ruijters et al., 2017,
        Volk et al., 2018) have been developed to analyze DFTs that apart from
        increasing the computational efficiency also provide more modeling
        power. Further, a wide variety of different metrics are offered,
        analyzing the system reliability under various scenarios. The combined
        power of these methods allows us to analyse DFTs that were out of scope
        before (Katoen and Stoelinga, 2017).<br />
        The research results were published in highly ranked journals from both
        computer science and engineering. For instance, our survey paper on
        fault trees (Ruijters and Stoelinga, 2015) was cited over 450 times. The
        publication presenting the underlying model checker (Dehnert et al.,
        2017) was published in the highest ranked conference in the field of
        formal verification and cited over 300 times<br /><br />
        <span class="display-5"
          ><strong> Industrial applications of DFT</strong></span
        ><br /><br />
        <b>Several industrial organizations</b>
        ProRail, NS, Movares, Delta Pi, ESA, the Nuclear Research Group,
        Arcadis, Thales Alennia Space, Space Systems Finland, Ford, BMW and EDF
        have participated in academic projects to figure out the real potential
        of DFT. Together with these companies, the powerful modelling
        capabilities of DFT and the feasibility of our analysis approaches have
        been demonstrated in a range of industrial applications. Example
        applications include railway systems (Ruijters et al., 2016; Volk et
        al., 2019), smart buildings (Cauchi et al., 2017), autonomous driving
        (Ghadhab et al., 2019), aerospace systems (Esteve et al., 2012), and
        energy networks (Khan et al., 2019). <br />
        These applications supported the involved companies in their decision
        making. For example, the cost analysis in (Ruijters et al., 2016) was
        used by ProRail when pursuing a new railroad joint, comparing the costs
        and reliability of various joint types. The experiences with the
        analysis of the HVAC helped the Dutch Railways (NS) to introduce fault
        tree analysis for various assets. The case study (Ghadhab et al, 2019)
        supported BMW in performing an extensive design space exploration,
        comparing several mappings from software onto different hardware
        architectures. <br />
      </p>
    </div>
    <div id="footerdgb"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("/storm-dft/src/commonUI/navbar.html");
      });
      $(function () {
        $("#footerdgb").load("/storm-dft/src/commonUI/footer.html");
      });
    </script>
  </body>
</html>
